.cart{
    width: 10rem;
    height: 2rem;
    background-color: rgb(71, 15, 15);
    color: #fff;
    text-align: center;
    font-weight: bolder;
    font-size: larger;
}
.cart:hover{
    cursor: pointer;
    background-color: rgb(104, 20, 20);;
}